#textArea {
        -fx-border-color: silver;
        -fx-border-width: 0;
        -fx-background-radius: 0;
        -fx-background-color: rgba(255, 255, 255, 0);
        -fx-font-family: 'Consolas', monospace;
        -fx-font-size: 1em; /* 12 */
        -fx-text-fill: black;
}

#textField {
        -fx-border-color: silver;
        -fx-border-width: 2;
        -fx-background-color: transparent;
        -fx-font-family: 'Consolas', monospace;
        -fx-font-size: 1em; /* 12 */
        -fx-text-fill: grey;
}

#textField:hover {
        -fx-border-color: silver;
        -fx-border-width: 2;
        -fx-cursor: pointer;
        -fx-background-color: transparent;
        -fx-font-family: 'Consolas', monospace;
        -fx-font-size: 1em; /* 12 */
        -fx-text-fill: black;
}

#btn1{
    -fx-font-family: 'Consolas', monospace;
    -fx-border-width: 2;
    -fx-text-fill: grey;
    -fx-font-weight: 900;
}

#btn1:pressed {
    -fx-background-color: grey;
    -fx-text-fill: white;
}

#btn1:focused {
    -fx-background-color: grey;
    -fx-text-fill: white;
}

#btn1:hover {
    -fx-background-color: grey;
    -fx-text-fill: white;
}